{% extends 'layout.html' %}

{% load static %}

{% block body_content %}


  <style>
    .Works-Roadmap {
      margin: auto auto;
      width: 80%;
    }

    .Works-Roadmap h1 {
      text-align: center;
    }

    .howItWorks {
      margin-bottom: 5em;
    }

    .roadmap {
      border-top: solid 2px black;
    }
  </style>

  <main class="Works-Roadmap">
    <div class="howItWorks">
      <h1>How this Works</h1>
      <p>
- Intro
  - Goal of this project was to make advancements in Machine Learning helps fight COVID 19 pandemic by making Deep Learning Neural Networks easy to use for everyone.
- Details about algorithm
  - The whole system essentially consist of 2 parts.
    - Web Application
      - Web application is what are using right now. It allows to upload scans and run prediction models.
    - Machine learning part
      - Our algorithm consist of 4 phases each with specific detection in mind
        - First phase try to predict probability of the file being xray scan at all. We develop a CNN (convolutional neural network) that we trained on set of images that was mix of xray scans and just regular photos or images of objects .
        - Second phase is focusing on predicting probability of file beign xray of healthy lungs. This phase use DenseNet201 trained on CheXpert dataset where labels were reduced to binary outcome (healthy/unhealthy)
        - Third phase similar to previous one, with exception that focus was on detection pneumonia and everything else. Same architecture (DenseNet201) and dataset was used(ChexPert)
        - Forth and last phase is a DenseNet201 network trained on COVID19 xray dataset.
      - Final probabilities calculated based on output of each phase, by multiplying the "not detected" outcome of previous phase on "detected" outcome of current phase
        - Example.
          - Lets say "healthy/unhealthy" phase predicted 60% healthy/ 40% everything else
          - Pneumonia phase predicted 50% pneumonia/50% everything else
          - Covid phase predicted 10% covid/90% everything else
        - Final probabilities gonna be 60% healthy, 20% pneumonia, 2% covid 19, 18% something else.
- Final summary
  - We hope someone will find our work useful either from detection, learning, reference or any other aspect. Keep in mind that this is open source software and you use it on you own risk. Machine learning is a powerful technique, but its not ultimate truth and as every algorithm it has it's limitations as far as predicting power goes. Stay safe and healthy.
- Links
  - Link to web app github
  - Link to DS github
  - Link to ChexPert
  - Link to the winning ChexPert article
  - Link to COVID dataset
  - Link to Rubics article
      </p>
    </div>
    <div class="roadmap">
      <h1>Plans for the future</h1>
      <p>
  - We plan to increase the accuracy of our algorithm by introducing more neural networks as well as trying different methods to assemble them into final system.
  - There is a possibility we might extend this system to other image processing problem
  - We are open and gonna be thrilled to hear you feedback on our work. Feel free to file an issue in github, even better fork our repo and send us merge request. Let's make world better together.


      </p>
    </div>
  </main>

{% endblock %}
