{% extends 'layout.html' %}

{% load static %}

{% block body_content %}


  <style>
    .Works-Roadmap {
      margin: auto auto;
      width: 80%;
    }

    .Works-Roadmap h1 {
      text-align: center;
    }

    .howItWorks {
      margin-bottom: 5em;
    }

    .roadmap {
      border-top: solid 2px black;
    }
  </style>

  <main class="Works-Roadmap">
    <div class="howItWorks">
      <h1>How this Works</h1>
      <p>
        Our model is an ensemble of many pre-trained deep COVNets. Networks that were pre-trained on thorax-image classification tasks were transferred to COVID-19 detection. Then we used a mixture model for aggregation of multiple pre-trained weak classifiers.
      </p>
    </div>
    <div class="roadmap">
      <h1>Roadmap</h1>
      <p>
        According to this <a href="https://www.medrxiv.org/content/10.1101/2020.02.25.20021568v2.full.pdf" target="_blank">paper</a> out of China, a straight-up application of pre-trained UNet++ architecture will perform well in COVID-19 detection.  This may be very useful in parts of the world where healthcare systems get overburdened as the epidemic spreads.  Unfortunately, the Chinese data set is not public and there is no way to verify it. Currently, we are working on a project to improve this score by training many deep networks then making an ensemble model.  The model could be easily deployed and scaled as a web app with AWS or Azure. 
      </p>
    </div>
  </main>

{% endblock %}
