{% extends 'layout.html' %} {% load static %} {% block body_content %}

<section class="how content">
  <header>
    <h1>How it works</h1>
  </header>

  <div class="body wrapper">
    <article>
      <p>
        The goal of this project was to harness advancements in Machine Learning
        to help fight the COVID-19 pandemic by making Deep Learning Neural
        Networks easy to use for everyone.
      </p>
    </article>

    <article>
      <h2>About the system</h2>
      <h3>1. The Web Application</h3>
      <p>
        This allows users to upload scans and run prediction models in a web
        browser.
      </p>

      <h3>2. Machine Learning Algorithms</h3>
      <p>These consist of 4 phases, each with a specific analysis occurring:</p>

      <ul>
        <li>
          The first phase predicts the probability of the image being an xray
          scan at all. We use a CNN (convolutional neural network) that we
          trained on a set of images that was a mix of xray scans and images of
          random objects.
        </li>

        <li>
          The second phase predicts the probability of the image being an xray
          of healthy lungs. This phase uses DenseNet201 trained on the CheXpert
          dataset where labels were reduced to binary outcomes
          (healthy/unhealthy).
        </li>

        <li>
          The third phase is similar to phase 2, with the exception that it
          focused on detection pneumonia and other conditions. The same
          architecture (DenseNet201) and dataset was used (CheXpert).
        </li>

        <li>
          The last phase is a DenseNet201 network trained on a COVID-19 xray
          dataset.
        </li>
      </ul>

      <p>
        Final probabilities are calculated based on the output of each phase, by
        multiplying the <em>"not detected"</em> outcome of previous phase by the
        <em>"detected"</em> outcome of current phase.
      </p>

      <p>
        The table below shows an example with the calculation of the results
      </p>

      <table>
        <thead>
          <tr>
            <th>Analysis</th>
            <th>Probability</th>
            <th>Output</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Healthy / unhealthy</td>
            <td>60%</td>
            <td>60%</td>
          </tr>
          <tr>
            <td>Pneumonia</td>
            <td>50%</td>
            <td>20% <span>(50% x 40%)</span></td>
          </tr>
          <tr>
            <td>COVID-19</td>
            <td>10%</td>
            <td>2% <span>(10% x 20%)</span></td>
          </tr>
          <tr>
            <td><em>other</em></td>
            <td><span>--</span></td>
            <td>18% <span>(remaining)</span></td>
          </tr>
        </tbody>
      </table>
    </article>

    <article>
      <h3>Related links:</h3>
      <ul>
        <li>
          <a
            href="https://github.com/covidscantest/covidscantest-webapp"
            target="_blank"
            rel="noreferrer noopener"
            >Web app source code</a
          >
        </li>
        <li>
          <a
            href="https://github.com/covidscantest/covidscan-datascience"
            target="_blank"
            rel="noreferrer noopener"
            >Machine learning notebooks</a
          >
        </li>
        <li>
          <a
            href="https://stanfordmlgroup.github.io/competitions/chexpert/"
            target="_blank"
            rel="noreferrer noopener"
            >Large Chest X-Ray Dataset</a
          >
        </li>
        <li>
          <a
            href="https://arxiv.org/abs/1911.06475"
            target="_blank"
            rel="noreferrer noopener"
            >Hierarchical-Learning-V1 (ensemble) Vingroup Big Data Institute</a
          >
        </li>
        <li>
          <a
            href="https://github.com/ieee8023/covid-chestxray-dataset"
            target="_blank"
            rel="noreferrer noopener"
            >COVID X-Ray dataset</a
          >
        </li>
        <li>
          <a
            href="https://rubikscode.net/2020/03/23/detection-of-covid-19-in-chest-x-rays-with-deep-learning/"
            target="_blank"
            rel="noreferrer noopener"
            >Covid detection using Tensorflow</a
          >
        </li>
      </ul>
    </article>

    <article>
      <h1>Final summary</h1>
      <p>
        We hope someone will find our work useful either from detection,
        learning, reference or any other aspect. Keep in mind that this is open
        source software and you use it <u>at your own risk</u>. Machine learning
        is a powerful technique, but it is not ultimate truth since every
        algorithm it has it's limitations as far as predicting power goes. Stay
        safe and healthy.
      </p>
    </article>
  </div>
</section>

{% endblock %}
