{% extends 'layout.html' %}

{% load static %}

{% block body_content %}

<section class="hero">
  <article class="left">
    <h1>
      Machine learning
      <span>for early detection.</span>
    </h1>
    <p>
      Introducing Covidscan, a prototype system to aid in the diagnosis of chest X-ray img using deep learning technologies.
    </p>
    <p class="disclaimer">
      Covidscan does NOT replace medical advice, and is intended to be used for informational purposes only.
    </p>
    <p>
      <a href="#" class="btn">Scan now</a>
    </p>
  </article>

  <article class="right">
    <picture>
      <source srcset="{% static 'img/hospital-care.webp' %}" type="image/webp">
      <img src="{% static 'img/hospital-care.jpg' %}" alt="Doctors attending to a patient in a hospital">
    </picture>
  </article>
</section>

<section class="mission">
  <div class="wrapper">
    <p class="subtitle">Our Mission</p>
    <h2>
      What is Covidscan and
      <span>how can it help patients and clinicians?</span>
    </h2>

    <ul class="features grid">
      <li>
        <picture>
          <source srcset="{% static 'img/covid-test.webp' %}" type="image/webp">
          <img src="{% static 'img/covid-test.jpg' %}" alt="Volunteer conducting tests for coronavirus">
        </picture>
        <h3>Improve test accessibility</h3>
        <p>X-ray facilities are more accessible than testing sites, and this could act as a way to conduct preliminary tests for COVID-19 and other conditions. This does not replace advice or diagnoses from medical professionals.</p>
      </li>
      <li>
        <picture>
          <source srcset="{% static 'img/diagnosis.webp' %}" type="image/webp">
          <img src="{% static 'img/diagnosis.jpg' %}" alt="Chest X-ray showing healthy lungs">
        </picture>
        <h3>Diagnose multiple conditions</h3>
        <p>With the currently available (and growing) datasets, Covidscan can analyze chest X-ray images and provide diverse and informative predictions.</p>
      </li>
      <li>
        <picture>
          <source srcset="{% static 'img/radiology.webp' %}" type="image/webp">
          <img src="{% static 'img/radiology.jpg' %}" alt="A radiologist studying different img">
        </picture>
        <h3>Innovate radiology</h3>
        <p>Covidscan could be used as a tool to automate part of the radiological processes, acting as a preliminary check for specified conditions.</p>
      </li>
      <li>
        <picture>
          <source srcset="{% static 'img/efficiency.webp' %}" type="image/webp">
          <img src="{% static 'img/efficiency.jpg' %}" alt="Patients in an intensive care unit">
        </picture>
        <h3>Provide quality</h3>
        <p>Increasing efficiency is key in parts of the world where healthcare systems get overburdened as the epidemic spreads.</p>
      </li>
    </ul>
  </div>
</section>

<section class="how-it-works">
  <div class="wrapper">
    <p class="subtitle">How It Works</p>
    <h2>
      Covidscan helps clinicians and patients
      <span>using predictive algorithms</span>
    </h2>

    <picture class="cover">
      <source srcset="{% static 'img/machine-learning.webp' %}" type="image/webp">
      <img src="{% static 'img/machine-learning.jpg' %}" alt="Graphic representation of neural networks">
    </picture>

    <p>
      Our model is an ensemble of  many pre-trained COVNets.   Networks that were pre-trained on thorax-image classification were transferred to COVID-19 detection.  Then we used a mixture model for aggregation of multiple weak classifiers.
    </p>
    <a href="{% url 'scandetector:how' %}">Read more <i class="fas fa-chevron-right"></i></a>
  </div>
</section>

<section class="call-to-action">
  <div class="wrapper">
    <p class="subtitle"></p>
    <h2>Fighting the pandemic together.</h2>
    <p>While this is still a prototype, we are looking for individuals and hospitals willing to test or implement Covidscan to produce measurable data to improve our algorithms and application.</p>
  </div>
</section>
    
{% endblock %}