{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163424993-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-163424993-1');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- stylesheets and such -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">

  <!-- meta info -->
  <title>COVID Scan Test</title>
  <meta name="description" content="Check for the probability of COVID-19 in scans using machine learning.">
  <meta name="author" content="COVID Scan App Team">

  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:title" content="COVID Scan Test">
  <meta property="og:description" content="Check for the probability of COVID-19 in scans using machine learning.">
  <meta property="og:image" content="{% static 'img/social.jpg' %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="764">
  <meta property="og:image:height" content="409">
  <meta property="og:image:alt" content="COVID Scan - Check for the probability of COVID-19 in scans using machine learning.">
  <meta property="og:url" content="https://covidscantest.com">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#51BEE0">

  <!-- sharethis buttons -->
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e92739a5d9bf5001283ba59&product=inline-share-buttons' async='async'></script>
  
</head>
<body>

  <nav>
    <div class="wrapper">
        <a href="{% url 'scandetector:index' %}" class="logo">
          <img src="{% static 'img/favicon.png' %}" alt="logo">
          <span>covidscan</span>
        </a>
        <ul class="nav-links">
          <li><a href="{% url 'scandetector:how' %}">How It Works</a></li>
          <li><a href="{% url 'scandetector:team' %}">Team</a></li>
        </ul>
    </div>
  </nav>

  {% block body_content %}
  {% endblock %}

</body>
</html>