{% extends 'layout.html' %}

{% load static %}

{% block body_content %}

  <main>

    <section class="wrapper content">
      <h1>The Team</h1>
      <div class="team">
        <article class="teammate">
          <div class="meta">
            <h2 class="name">Anastasia E.</h2>
            <ul class="links">
              <li><a href="https://www.linkedin.com/in/anastasia-efremova/" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://github.com/nastikas" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p> 
          <p class="about">I am from Austin, TX. I am helping with building CNN to predict Covid-19 using chest X-rays or CT.</p> 
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Anatoly S.</h2>
            <ul class="links">
              <li><a href="https://www.linkedin.com/in/shikolay/" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://github.com/shikolay" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Tech Lead</p>
          <p class="about">I am from Austin, TX. I helped setup main tech and organizational framework. Let other team members deliver their contribution independently, while they can see overall vision and how their contribution helps.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Jie D.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p>
          <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia quis consequuntur facere reiciendis dignissimos obcaecati ullam, saepe, commodi esse, suscipit ut.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Lily Y.</h2>
            <ul class="links">
              <li><a href="https://www.linkedin.com/mwlite/in/yurim-y-b6183239" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://github.com/lyiucsd220" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">App Developer</p>
          <p class="about">I am from Brea, CA. I helped with design, execution, algorithm development. In my spare time I love playing scrabble with my boyfriend.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Logan E.</h2>
            <ul class="links">
              <li><a href="https://www.linkedin.com/in/ellislogan/" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://github.com/logantheproblemsolver" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Web Developer</p>
          <p class="about">I am from Sanford, NC. I have helped with developing the client-facing application. One thing I really like doing is learning, whether it's a random topic or a new skill, I love to constantly learn.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Mai N.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p>
          <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptate quo sit dolore rerum sunt labore blanditiis, vero ducimus, officiis vel.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Malcolm K.</h2>
            <ul class="links">
              <li><a href="https://linkedin.com/in/malcolmkiano" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://github.com/malcolmkiano" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Web Developer</p>
          <p class="about">I am from Oakland, CA. Helped with designing and developing the client-facing application using Vue, HTML, CSS(Sass) and JavaScript. One of my favorite quarantine past times is staying up all night binge-ing the latest shows on Netflix.</p>
        </article>
      </div> 
    </section>

  </main>

{% endblock %}