{% extends 'layout.html' %}

{% block body_content %}

  <main>

    <section class="wrapper content">
      <h1>The Team</h1>
      <div class="team">
        <article class="teammate">
          <div class="meta">
            <h2 class="name">Anastasia E.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p> 
          <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolor reprehenderit vero nostrum omnis adipisci ipsam debitis voluptatem quia sit beatae?</p> 
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Anatoly S.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p>
          <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, corporis natus vero repellendus, maxime quos est temporibus molestiae a quo perspiciatis?</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Doug J.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p>
          <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam cum ipsum, nam quo, a, dignissimos optio nobis praesentium reprehenderit rerum quos.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Jie D.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p>
          <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia quis consequuntur facere reiciendis dignissimos obcaecati ullam, saepe, commodi esse, suscipit ut.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Lily Y.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p>
          <p class="about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam et quibusdam quasi iusto molestias minus facilis exercitationem, quis sed iste eos.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Logan E.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Web Developer</p>
          <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error, temporibus veniam, numquam laudantium aliquid aut hic facere autem, ex voluptatibus!</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Mai N.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Data Scientist</p>
          <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptate quo sit dolore rerum sunt labore blanditiis, vero ducimus, officiis vel.</p>
        </article>

        <article class="teammate">
          <div class="meta">
            <h2 class="name">Malcolm K.</h2>
            <ul class="links">
              <li><a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" title="GitHub"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <p class="role">Web Developer</p>
          <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam tenetur accusamus illo! Omnis sapiente ipsum a enim consequuntur harum recusandae eaque?</p>
        </article>
      </div> 
    </section>

  </main>

{% endblock %}